{% extends 'base.html' %}


{% block title %} {{ blog.title }} {% endblock %}

{% block content %}
    
        <p>{{ blog.title }}</p>
        <p>{{ blog.description }}</p>
        {% if blog.image %}
            <img src="{{ blog.image.url }}">
        {% else %}
    {% endif %}
        <p>{{ blog.created_at }}</p>
        <p>{{ blog.updated_at }}</p>
        <p>{{ blog.author }}</p>
        <p>{{ blog.category }}</p>
<hr>
    {% if request.user == blog.author %}
    <p><a href="{% url 'app:edit' blog.slug %}">Edit</a></p>
    {% endif %}
{% endblock %}
